[submodule "external/SFML"]
	path = external/SFML
	url = https://github.com/SFML/SFML.git
[submodule "external/event-emitter"]
	path = external/event-emitter
	url = git@github.com:mschnee/eventemitter-eventloop.git
	branch = master
[submodule "external/gsl"]
	path = external/gsl
	url = https://github.com/Microsoft/GSL.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
